/* fonts */
.rubik {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.league {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.b1 {
  scroll-margin-top: 125px;
} /*so it's not covered by navbar*/

body {
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 30pt;
  margin: 15px;
}

nav {
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-table {
  border-spacing: 50px;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17.5pt;
    transition: all 1s ease;
  }
  th {
    transition: all 1s ease;
  }
  th:hover {
    transform: scale(1.1);
    letter-spacing: 1px;
    a {
      color: #a0a0a0;
    }
  }
}

.container {
  margin-top: 130px;
  padding: 0px 50px;
  h1 {
    text-align: left;
  }
  p {
    text-align: justify;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  p {
    font-size: 15pt;
  }
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 35px;
  flex-shrink: 0; /* biar gambarnya ga ngecil pas teksnya panjang */
}

.profile-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.socials {
  img {
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
  }
  a {
    margin: 5px 15px;
    font-size: 17pt;
  }
}

.biography {
  h1 {
    margin-top: 35px;
    font-size: 25pt;
  }

  table {
    margin: 0 auto 50px auto;
    width: 100%;
  }

  table,
  th,
  td {
    border: 0px black solid;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
  }

  th {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 27%;
  }
  td {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}

.media {
  h1 {
    margin-top: 35px;
    font-size: 30pt;
    text-align: center;
  }
  margin-bottom: 100px;
}

.slider-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-gap {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: all 1.5s ease; /* translateX di javascript*/
  z-index: -10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.btn {
  position: static;
  font-size: 50pt;
  border: 0;
  transform: none;
  background: none;
  cursor: pointer;
  transition: all 1.3s ease;
}
.btn:hover {
  transform: scale(1.5);
}
